extends layouts/default

block content

  section.header
    h1.bold PLACE ANDERSON
    h4.fancy Wes Anderson themed image placeholders.


  section.tutorial

    h3.bold 1. BEGIN
    h6.bold-black Append the width & height you want to the end of the url


    div
      img(src="/600/400", target="_blank", width="600", height="400").full

      div.link
        a(href="/600/400").how /600/400
        span.size 600 x 400 pixels


    br

    div

      h3.bold 2. UNIQUE MULTIPLICTY
      h6.bold-black Use an id parameter if you want different images of the same size.

      img(src="/180/180?id=1", width="180", height="180").thumb
      img(src="/180/180?id=2", width="180", height="180").thumb
      img(src="/180/180?id=3", width="180", height="180").thumb

      div.link
        a(href="/180/180?id=1", target="_blank").how /180/180?id=2
        span.size 180 x 180 pixels

      div.link
        a(href="/180/180?id=1", target="_blank").how /180/180?id=2
        span.size 180 x 180 pixels

      div.link
        a(href="/180/180?id=1", target="_blank").how /180/180?id=2
        span.size 180 x 180 pixels


    br
    br
    h2.fancy fin.
    br
    br